body {
    font-family:initial;
    background: linear-gradient(198deg, #FBE1D0 0%, #fff 100%);
}

#navbarNav .nav-link {
    font-size:20px;
}

.container-fluid{
    background-color:#F5DEB3;
}

.navbar{
    padding-top:0rem;
    padding-bottom:0rem;
}

.row>* {
    margin-bottom: 35px;
}

.navbar-brand img {
    width: 85px;
    border:solid;
    border-color: white;
    border-width:2px;
}

.navbar-toggler {
        border-width:4px;
}

.sitebar{
    border:solid;
    border-width: 3px;
    border-color: white;
}

.opn {
    border: solid;
    border-width: 4px;
    border-color: white;
    margin: auto auto;
}

.sen {
    margin: auto auto;
}

.sen a {
    text-decoration: none;
    color: black;
}

.mln {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call{
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}



